{% for item in items %}
  <p> Open Time: {{ item.open_time }} <p>
  <p> Close Time: {{ item.close_time }} <p>
  <h1>Next Brevet Open/Close Time</h2>
{% endfor %}

<a href="{{ url_for("index") }}">Return to ACP Calculator</a>